# Required Varilables
apikey       = ""
vc_password  = ""
ssh_user     = "iksadmin"
ssh_key      = ""
# Optional Variables
tags = [
  {
    "key" : "key-1"
    "value" : "value-1"
  },
  {
    "key" : "key-2"
    "value" : "value-2"
  }
]
organization = "default" # Change this if a different org is required.  Default org is set to "default"